{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/all_supplier.css" %}">
    <link rel="stylesheet" href="{% static "css/header.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Список поставщиков</title>
</head>
<body>
    <header class="header">
        <ul class='nav__list'>
            <li class="nav"><a href="{% url "catalog_dish_page" %}">Товары</a></li>
            <li class="nav"><a href="{% url "all_supplier_list" %}">Поставщики</a></li>
            <li class="nav"><a href="{% url "add_new_supplier" %}">Добавить поставщика</a></li>
        </ul>
    </header>
    <div class="section__supplier">
        <div class="title">Поставщики</div>
        <div class="supplier__container">
            {% for supplier in all_supplier %}
                <div class="supplier">
                    <h2>Компания: {{ supplier.name }}</h2>
                    <h3>Фамилия: {{ supplier.agent_lastname }}</h3>
                    <h3>Имя: {{ supplier.agent_name }}</h3>
                    {% if supplier.agent_surname %}
                        <h3>Отчество: {{ supplier.agent_surname }}</h3>
                    {% endif %}
                    <h3>Телефон: {{ supplier.phone }}</h3>
                    <h3>Адрес: {{ supplier.location }}</h3>
                    <a href="{% url "supplier_menu" supplier.pk %}">Подробнее...</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>